<footer class="footer bg-danger py-3 mt-auto">
  <div class="container">
    <span class="text-light"
      ><i class="far fa-copyright"></i> Crowdfunding 2021 | Mark Robert
      Bumatay</span
    >
  </div>
</footer>
