<div class="jumbotron-fluid mt-2">
  <div
    class="container vh-100 d-flex flex-column justify-content-center text-white"
  >
    <h1 class="display-4">
      <span id="hero-text">Begin with self-reliance, Impact donation!</span>
    </h1>
    <p class="lead">Value of togetherness, Crowdfunding.</p>
    <hr class="my-4" />
    <p>We support dreams of local entrepreneurs here in the Philippines.</p>
    <p class="lead">
      <a class="btn btn-danger btn-lg" href="#seeding-projects" role="button"
        >Explore projects</a
      >
    </p>
  </div>
</div>
