<div class="jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-column justify-content-center text-white vh-100">
      <p class="text-uppercase">Value of togetherness, Crowdfunding.</p>
      <h1 class="display-5 font-weight-bold">
        Casting a new light on donation
      </h1>
      <p class="text-light">
        We support dreams of local entrepreneurs here in the Philippines.
      </p>
      <div class="mt-3">
        <a
          class="btn btn-danger btn-lg hero-btn"
          href="#seeding-projects"
          role="button"
          >Explore projects</a
        >
      </div>
    </div>
  </div>
</div>
