<nav
  class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top border-bottom"
>
  <a class="navbar-brand" href="#"
    ><i class="fas fa-hands-helping"></i> Crowdfunding</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-link" href="/projects">Home</a>
      <a class="nav-link" href="#">Funded Projects</a>
      <a class="nav-link" href="/projects/new">Start a Project</a>
      <a class="nav-link" href="#">Contact Us</a>
      <a class="nav-link" href="#">About Us</a>
    </div>
    <div class="navbar-nav ml-auto">
      <% if (!currentUser) { %>
      <a class="nav-link" href="/login"
        ><i class="fas fa-sign-in-alt"></i> Login</a
      >
      <a class="nav-link" href="/register"
        ><i class="fas fa-user-plus"></i> Register</a
      >
      <% } else { %>
      <a class="nav-link" href="/logout"
        ><i class="fas fa-sign-out-alt"></i> Logout</a
      >
      <% } %>
    </div>
  </div>
</nav>
