body {
  font-family: "Nunito", sans-serif;
  padding-top: 3.5rem;
}

.project-item {
  transition: all 0.25s;
}

.project-item .target-amount {
  font-size: 0.8rem;
}

.project-item:hover {
  transform: translateY(-0.25em);
}

.project-item a:hover {
  text-decoration: none;
}

.nav-tabs .nav-link {
  color: #495057;
}

.jumbotron-fluid {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1512631118612-7bf02594062b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1300&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-btn {
  border-radius: 1.5em;
}

#burgeoning-projects {
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.desc-truncated {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#footer i {
  font-size: 2em;
}
