<% layout("/layouts/boilerplate") %>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-3">Start a Project</h1>
      <form
        action="/projects"
        method="POST"
        class="validated-form"
        enctype="multipart/form-data"
        novalidate
      >
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="project[title]"
            required
            autofocus
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input
            class="form-control"
            type="text"
            id="location"
            name="project[location]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <label class="form-label" for="targetAmount"
          >Target Amount (PHP 25,000.00 - 50,000.00)</label
        >
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">PHP</span>
          </div>
          <input
            class="form-control"
            type="number"
            id="targetAmount"
            name="project[targetAmount]"
            aria-label="Amount (to the nearest philippine)"
            min="25000"
            max="50000"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="targetDate">Target Date</label>
          <input class="form-control" type="date" id="targetDate"
          name="project[targetDate]" min="<%= dayjs(Date.now()).add(1,
          "day").format("YYYY-MM-DD") %>" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea
            class="form-control"
            type="text"
            id="description"
            name="project[description]"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              name="image"
              id="image"
              multiple
              required
            />
            <label class="custom-file-label text-truncate" for="image"
              >Choose image(s)...</label
            >
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>
        <button class="btn btn-danger">Submit Project</button>
      </form>
    </div>
  </div>
</div>
